body{
margin:0;
font-family: Arial, sans-serif;
}

.msg{
background-color:pink;
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
position:relative;
}

h1{
color: rgba(255, 255, 255, 0.879);
position: absolute;
top: 20px;
font-family:'Pacifico', cursive;
}

.msg1{
font-family:'Pacifico', cursive;
color: rgb(220, 100, 120);
position: absolute;
top:150px;
font-size: 17px;
left: 290px;
}


.butterfly{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
pointer-events:none;
z-index:10;
}

.butterfly img{
position:absolute;
}
.s1{
    position: absolute;
    top: 120px;
    left: 790px;
    height: 300px;
}
.s2{
    position: absolute;
    top: 240px;
    left: 920px;
    height: 300px;
}

.s3{
    position: absolute;
    top: 280px;
    left: 1020px;
    height: 400px;
}


.bb0{
top:80px;
left:-50px;
animation:flyA 16s linear infinite;
}

.bb1{
top:200px;
left:-80px;
animation:flyB 18s linear infinite;
}

.bb2{
top:350px;
left:-70px;
animation:flyC 20s linear infinite;
}

.bb3{
top:500px;
left:-90px;
animation:flyD 22s linear infinite;
}

.bb4{
top:120px;
left:-90px;
animation:flyE 22s linear infinite;
}

.bb5{
top:420px;
left:-90px;
animation:flyF 22s linear infinite;
}

.bb6{
top:250px;
left:-90px;
animation:flyG 22s linear infinite;
}

.bb7{
top:580px;
left:-90px;
animation:flyI 22s linear infinite;
}

/* Animations */

@keyframes flyA{
0%{transform:translate(0,0) rotate(0deg);}
25%{transform:translate(400px,-150px) rotate(30deg);}
50%{transform:translate(800px,120px) rotate(-20deg);}
75%{transform:translate(1000px,-100px) rotate(40deg);}
100%{transform:translate(1000px,80px) rotate(0deg);}
}

@keyframes flyB{
0%{transform:translate(0,0) rotate(0deg);}
25%{transform:translate(350px,150px) rotate(-30deg);}
50%{transform:translate(700px,-100px) rotate(20deg);}
75%{transform:translate(1000px,100px) rotate(-40deg);}
100%{transform:translate(1000px,-50px) rotate(0deg);}
}

@keyframes flyC{
0%{transform:translate(0,0) rotate(0deg);}
25%{transform:translate(450px,-120px) rotate(30deg);}
50%{transform:translate(850px,140px) rotate(-25deg);}
75%{transform:translate(1000px,-80px) rotate(35deg);}
100%{transform:translate(1000px,60px) rotate(0deg);}
}

@keyframes flyD{
0%{transform:translate(0,0) rotate(0deg);}
25%{transform:translate(420px,160px) rotate(-35deg);}
50%{transform:translate(780px,-140px) rotate(25deg);}
75%{transform:translate(1000px,100px) rotate(-30deg);}
100%{transform:translate(1000px,-70px) rotate(0deg);}
}

@keyframes flyE{
0%{transform:translate(0,0) rotate(0deg);}
25%{transform:translate(350px,150px) rotate(-30deg);}
50%{transform:translate(700px,-100px) rotate(20deg);}
75%{transform:translate(1000px,100px) rotate(-40deg);}
100%{transform:translate(1000px,-50px) rotate(0deg);}
}

@keyframes flyF{
0%{transform:translate(0,0) rotate(0deg);}
25%{transform:translate(350px,150px) rotate(-30deg);}
50%{transform:translate(700px,-100px) rotate(20deg);}
75%{transform:translate(1000px,100px) rotate(-40deg);}
100%{transform:translate(1000px,-50px) rotate(0deg);}
}

@keyframes flyG{
0%{transform:translate(0,0) rotate(0deg);}
25%{transform:translate(450px,-120px) rotate(30deg);}
50%{transform:translate(850px,140px) rotate(-25deg);}
75%{transform:translate(1000px,-80px) rotate(35deg);}
100%{transform:translate(1000px,60px) rotate(0deg);}
}

@keyframes flyI{
0%{transform:translate(0,0) rotate(0deg);}
25%{transform:translate(400px,-150px) rotate(30deg);}
50%{transform:translate(800px,120px) rotate(-20deg);}
75%{transform:translate(1000px,-100px) rotate(40deg);}
100%{transform:translate(1000px,80px) rotate(0deg);}
}
button{
background-color: rgb(255, 255, 255);
color: rgb(220, 100, 120);
border: 3px solid rgb(220, 100, 120);
border-radius: 15px;
height: 40px;
width: 150px;
position: absolute;
top: 80vh;
left: 900px;
}
button:hover{
background-color: rgb(219, 208, 210);   
}

@media (max-width:740px){

html,body{
margin:0;
padding:0;
overflow-x:hidden;
}

.bg{
min-height:100vh;
height:auto;
width:100%;
background-size:cover;
background-position:center;
background-repeat:no-repeat;
padding-bottom:40px;
}

.msg{
background-size:cover;
background-position:center;
padding:20px;
}

h1{
font-size:16px;
top:200px;
text-align:center;
}
.msg1{
top:280px;
left:28%;
transform:translateX(-50%);
width:80%;
font-size:8px;
text-align:center;
line-height:1.6;
}
.s1{
    position: absolute;
    left: 200px;
    top: 270px;
    height: 100px;
}
.s2{
    position: absolute;
   top:310px;
    left: 240px;
    height: 100px;
}

.s3{
    position: absolute;
  top: 320px;
    left: 260px;
    height: 180px;
}

button{
top:90vh;
left:45%;
transform:translateX(-50%);
width:170px;
height:50px;
}

.butterfly img{
width:25px;
}
.bb0{top:70px;}
.bb1{top:200px;}
.bb2{top:165px;}
.bb3{top:160px;}
.bb4{top:120px;}
.bb5{top:170px;}
.bb6{top:240px;}
.bb7{top:280px;}

}
